Repository DDINGJOO/SUPPORT_SERVER, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, docs, infra, database, layer:entity, layer:controller, layer:dto, layer:repository, layer:service, layer:util, layer:config, layer:test, layer:resource

.github/labeler.yml:

backend:
  - "SupportServer/src/main/java/**"

docs:
  - "docs/**"
  - "*.md"
  - "README*"

infra:
  - ".github/**"
  - "Dockerfile"
  - "docker-compose*.yml"
  - ".dockerignore"
  - "k8s/**"
  - "kubernetes/**"

database:
  - "SupportServer/src/main/resources/db/**"
  - "SupportServer/src/main/resources/migration/**"
  - "SupportServer/**/*migration*.sql"
  - "SupportServer/**/*schema*.sql"

# 백엔드 레이어별 라벨
layer:entity:
  - "SupportServer/src/main/java/**/entity/**"
  - "SupportServer/src/main/java/**/domain/**"
  - "SupportServer/src/main/java/**/model/**"

layer:controller:
  - "SupportServer/src/main/java/**/controller/**"
  - "SupportServer/src/main/java/**/api/**"

layer:dto:
  - "SupportServer/src/main/java/**/dto/**"
  - "SupportServer/src/main/java/**/request/**"
  - "SupportServer/src/main/java/**/response/**"

layer:repository:
  - "SupportServer/src/main/java/**/repository/**"
  - "SupportServer/src/main/java/**/dao/**"

layer:service:
  - "SupportServer/src/main/java/**/service/**"

layer:util:
  - "SupportServer/src/main/java/**/util/**"
  - "SupportServer/src/main/java/**/helper/**"
  - "SupportServer/src/main/java/**/common/**"

layer:config:
  - "SupportServer/src/main/java/**/config/**"
  - "SupportServer/src/main/java/**/configuration/**"

layer:test:
  - "SupportServer/src/test/**"
  - "SupportServer/**/*Test.java"
  - "SupportServer/**/*Tests.java"

layer:resource:
  - "SupportServer/src/main/resources/**/*.yml"
  - "SupportServer/src/main/resources/**/*.yaml"
  - "SupportServer/src/main/resources/**/*.properties"
  - "SupportServer/src/main/resources/**/*.xml"
  - "SupportServer/src/main/resources/**/*.json"

[FEAT] 1:1 문의 데이터 계층 구현
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/Answer.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/Inquiry.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/InquiryCategory.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/InquiryFile.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/InquiryStatus.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/repository/AnswerRepository.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/repository/InquiryRepository.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/entity/AnswerEntityTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/entity/InquiryEntityTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/AnswerRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/InquiryRepositoryTest.java
Labels: backend, layer:entity, layer:repository, layer:test

[FEAT] 문의 예외 처리 클래스 추가
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/exceptions/ErrorCode.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/exceptions/InquiryException.java
Labels: backend

[FEAT] 문의 요청 DTO 추가
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/dto/request/AnswerCreateRequest.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/dto/request/InquiryCreateRequest.java
Labels: backend, layer:dto

[FEAT] 문의 응답 DTO 추가
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/dto/response/AnswerResponse.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/dto/response/InquiryResponse.java
Labels: backend, layer:dto

[FEAT] 문의 서비스 인터페이스 정의
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/service/InquiryService.java
Labels: backend, layer:service

[FEAT] 문의 서비스 구현체 추가
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/service/InquiryServiceImpl.java
Labels: backend, layer:service

[FEAT] 문의 RESTful API 컨트롤러 구현
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/controller/InquiryController.java
Labels: backend, layer:controller

feat(inquiry): 1:1 문의 관리 시스템 구현 refs #23 #24 #25 #26 (#40)
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/controller/InquiryController.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/dto/request/AnswerCreateRequest.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/dto/request/InquiryCreateRequest.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/dto/response/AnswerResponse.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/dto/response/InquiryResponse.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/Answer.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/Inquiry.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/InquiryCategory.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/InquiryFile.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/entity/InquiryStatus.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/exceptions/ErrorCode.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/exceptions/InquiryException.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/repository/AnswerRepository.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/repository/InquiryRepository.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/service/InquiryService.java
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/service/InquiryServiceImpl.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/entity/AnswerEntityTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/entity/InquiryEntityTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/AnswerRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/InquiryRepositoryTest.java
Labels: backend, layer:entity, layer:controller, layer:dto, layer:repository, layer:service, layer:test

[REFACTOR] 인프라 설정 common 패키지로 분리
  .DS_Store
  SupportServer/src/main/java/com/teambind/supportserver/common/config/IdConfig.java
  SupportServer/src/main/java/com/teambind/supportserver/common/config/QueryDslConfig.java
  SupportServer/src/main/java/com/teambind/supportserver/common/utils/IdGenerator.java
  SupportServer/src/main/java/com/teambind/supportserver/common/utils/Snowflake.java
  SupportServer/src/main/java/com/teambind/supportserver/report/service/ReportServiceImpl.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/AnswerRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/InquiryRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/config/IdConfigTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportCategoryRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportHistoryRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportRepositoryCustomTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportStatisticsRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/SanctionRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/SanctionRuleRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/service/ReportServiceImplTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/utils/SnowflakeTest.java
  docs/.DS_Store
  docs/README.md
Labels: backend, docs, layer:service, layer:util, layer:config, layer:test

[REFACTOR] 인프라 설정 common 패키지로 분리 (#41)
  .DS_Store
  SupportServer/src/main/java/com/teambind/supportserver/common/config/IdConfig.java
  SupportServer/src/main/java/com/teambind/supportserver/common/config/QueryDslConfig.java
  SupportServer/src/main/java/com/teambind/supportserver/common/utils/IdGenerator.java
  SupportServer/src/main/java/com/teambind/supportserver/common/utils/Snowflake.java
  SupportServer/src/main/java/com/teambind/supportserver/report/service/ReportServiceImpl.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/AnswerRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/InquiryRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/config/IdConfigTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportCategoryRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportHistoryRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportRepositoryCustomTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportStatisticsRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/SanctionRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/SanctionRuleRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/service/ReportServiceImplTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/utils/SnowflakeTest.java
  docs/.DS_Store
  docs/README.md
Labels: backend, docs, layer:service, layer:util, layer:config, layer:test

[DOC] 테스트 결과 리포트 추가
  README.md
  docs/README.md
Labels: docs

[DOC] 테스트 결과 리포트 추가
  .idea/encodings.xml
  README.md
  docs/README.md
Labels: docs

[REFACTOR] ID 생성 로직 분리 및 QueryDslConfig 경로 수정
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/service/InquiryServiceImpl.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/AnswerRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/InquiryRepositoryTest.java
Labels: backend, layer:service, layer:test

HOTFIX (#42)
  SupportServer/src/main/java/com/teambind/supportserver/inquiries/service/InquiryServiceImpl.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/AnswerRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/inquiries/repository/InquiryRepositoryTest.java
Labels: backend, layer:service, layer:test

[REFACTOR] ID 생성 로직 분리 및 QueryDslConfig 경로 수정
  SupportServer/src/main/java/com/teambind/supportserver/common/handler/GlobalExceptionHandler.java
  SupportServer/src/test/java/com/teambind/supportserver/report/handler/GlobalExceptionHandlerTest.java
Labels: backend, layer:util, layer:test
