Repository DDINGJOO/SUPPORT_SERVER, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, docs, infra, database, layer:entity, layer:controller, layer:dto, layer:repository, layer:service, layer:util, layer:config, layer:test, layer:resource

.github/labeler.yml:

backend:
  - "SupportServer/src/main/java/**"

docs:
  - "docs/**"
  - "*.md"
  - "README*"

infra:
  - ".github/**"
  - "Dockerfile"
  - "docker-compose*.yml"
  - ".dockerignore"
  - "k8s/**"
  - "kubernetes/**"

database:
  - "SupportServer/src/main/resources/db/**"
  - "SupportServer/src/main/resources/migration/**"
  - "SupportServer/**/*migration*.sql"
  - "SupportServer/**/*schema*.sql"

# 백엔드 레이어별 라벨
layer:entity:
  - "SupportServer/src/main/java/**/entity/**"
  - "SupportServer/src/main/java/**/domain/**"
  - "SupportServer/src/main/java/**/model/**"

layer:controller:
  - "SupportServer/src/main/java/**/controller/**"
  - "SupportServer/src/main/java/**/api/**"

layer:dto:
  - "SupportServer/src/main/java/**/dto/**"
  - "SupportServer/src/main/java/**/request/**"
  - "SupportServer/src/main/java/**/response/**"

layer:repository:
  - "SupportServer/src/main/java/**/repository/**"
  - "SupportServer/src/main/java/**/dao/**"

layer:service:
  - "SupportServer/src/main/java/**/service/**"

layer:util:
  - "SupportServer/src/main/java/**/util/**"
  - "SupportServer/src/main/java/**/helper/**"
  - "SupportServer/src/main/java/**/common/**"

layer:config:
  - "SupportServer/src/main/java/**/config/**"
  - "SupportServer/src/main/java/**/configuration/**"

layer:test:
  - "SupportServer/src/test/**"
  - "SupportServer/**/*Test.java"
  - "SupportServer/**/*Tests.java"

layer:resource:
  - "SupportServer/src/main/resources/**/*.yml"
  - "SupportServer/src/main/resources/**/*.yaml"
  - "SupportServer/src/main/resources/**/*.properties"
  - "SupportServer/src/main/resources/**/*.xml"
  - "SupportServer/src/main/resources/**/*.json"

[FEAT] 예외 처리 추가 및 IntelliJ 모듈 설정 파일 갱신
  .idea/modules.xml
  .idea/modules/SupportServer.main.iml
  SupportServer/src/main/java/com/teambind/supportserver/report/exceptions/ErrorCode.java
  SupportServer/src/main/java/com/teambind/supportserver/report/exceptions/ReportException.java
Labels: backend

[FEAT] GlobalExceptionHandler 추가로 예외 처리 로직 확장
  SupportServer/src/main/java/com/teambind/supportserver/report/handler/GlobalExceptionHandler.java
Labels: backend

[FEAT] Snowflake 기반 ID 생성 로직 및 설정 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/config/IdConfig.java
  SupportServer/src/main/java/com/teambind/supportserver/report/utils/IdGenerator.java
  SupportServer/src/main/java/com/teambind/supportserver/report/utils/Snowflake.java
Labels: backend, layer:config

[FEAT] REPORT_NOT_FOUND 예외 코드 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/exceptions/ErrorCode.java
Labels: backend

[FEAT] 예외 핸들러 및 ID 생성 설정 관련 테스트 추가
  SupportServer/src/test/java/com/teambind/supportserver/report/config/IdConfigTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/exceptions/ReportExceptionTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/handler/GlobalExceptionHandlerTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/utils/SnowflakeTest.java
Labels: layer:test

[FEAT] 신고 검색 및 응답 DTO 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/dto/request/ReportSearchRequest.java
  SupportServer/src/main/java/com/teambind/supportserver/report/dto/response/CursorPageResponse.java
  SupportServer/src/main/java/com/teambind/supportserver/report/dto/response/ReportResponse.java
Labels: backend, layer:dto

[FEAT] QueryDSL 설정 및 커스텀 Repository 구현
  SupportServer/src/main/java/com/teambind/supportserver/report/config/QueryDslConfig.java
  SupportServer/src/main/java/com/teambind/supportserver/report/repository/ReportRepositoryCustom.java
  SupportServer/src/main/java/com/teambind/supportserver/report/repository/ReportRepositoryImpl.java
Labels: backend, layer:repository, layer:config

[FEAT] ReportRepository에 커스텀 Repository 상속 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/repository/ReportRepository.java
Labels: backend, layer:repository

[REFACTOR] Report 엔티티 상태 변경 시 자동 히스토리 생성 기능 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/entity/Report.java
Labels: backend, layer:entity

[FEAT] ReportService 구현 및 인터페이스 확장
  SupportServer/src/main/java/com/teambind/supportserver/report/service/ReportService.java
  SupportServer/src/main/java/com/teambind/supportserver/report/service/ReportServiceImpl.java
Labels: backend, layer:service

[FEAT] ReportController 및 AOP 로깅 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/aop/PerformanceMonitoringAspect.java
  SupportServer/src/main/java/com/teambind/supportserver/report/controller/CacheManagementController.java
Labels: backend, layer:controller

[FEAT] ReportCategory 캐시 유틸리티 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/utils/InMemoryReportCategoryCache.java
  SupportServer/src/main/java/com/teambind/supportserver/report/utils/ReportCategoryCache.java
Labels: backend

[FEAT] ReportCategory 및 ErrorCode 확장
  SupportServer/src/main/java/com/teambind/supportserver/report/entity/ReportCategory.java
  SupportServer/src/main/java/com/teambind/supportserver/report/exceptions/ErrorCode.java
Labels: backend, layer:entity

[TEST] DTO 레이어 단위 테스트 추가
  SupportServer/src/test/java/com/teambind/supportserver/report/dto/CursorPageResponseTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/dto/ReportResponseTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/dto/ReportSearchRequestTest.java
Labels: layer:test

[TEST] ReportRepositoryCustom 단위 테스트 추가
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportRepositoryCustomTest.java
Labels: layer:test

[TEST] Repository 테스트에 QueryDslConfig import 추가
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportCategoryRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportHistoryRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportStatisticsRepositoryTest.java
Labels: layer:test

[TEST] Repository 테스트 QueryDslConfig 추가 및 메서드 시그니처 업데이트
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/ReportRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/SanctionRepositoryTest.java
  SupportServer/src/test/java/com/teambind/supportserver/report/repository/SanctionRuleRepositoryTest.java
Labels: layer:test

[TEST] ReportService 단위 테스트 추가
  SupportServer/src/test/java/com/teambind/supportserver/report/service/ReportServiceImplTest.java
Labels: layer:test

[TEST] Report 엔티티 테스트 리팩토링
  SupportServer/src/test/java/com/teambind/supportserver/report/entity/ReportEntityTest.java
Labels: layer:test

[TEST] SupportServerApplicationTests 프로파일 설정 추가
  SupportServer/src/test/java/com/teambind/supportserver/SupportServerApplicationTests.java
Labels: layer:test

[TEST] 성능 테스트 추가
  SupportServer/src/test/java/com/teambind/supportserver/report/performance/ReportCategoryPerformanceTest.java
Labels: layer:test

[CHORE] Gradle 빌드 설정 추가
  SupportServer/build.gradle
Labels: none

[CHORE] IDE 설정 파일 업데이트
  .idea/compiler.xml
  .idea/modules/SupportServer.main.iml
Labels: none

[CHORE] Validation 의존성 추가
  SupportServer/build.gradle
Labels: none

[FEAT] DTO 유효성 검사 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/dto/request/ReportRequest.java
  SupportServer/src/main/java/com/teambind/supportserver/report/dto/request/ReportSearchRequest.java
  SupportServer/src/main/java/com/teambind/supportserver/report/dto/request/ReportStatusUpdateRequest.java
Labels: backend, layer:dto

[FEAT] Report 엔티티에 hold 메서드 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/entity/Report.java
Labels: backend, layer:entity

[FEAT] ReportService 메서드 확장
  SupportServer/src/main/java/com/teambind/supportserver/report/service/ReportService.java
  SupportServer/src/main/java/com/teambind/supportserver/report/service/ReportServiceImpl.java
Labels: backend, layer:service

[FEAT] RESTful 신고 관리 API 구현
  SupportServer/src/main/java/com/teambind/supportserver/report/controller/ReportController.java
Labels: backend, layer:controller

[TEST] ReportController 단위 테스트 추가
  SupportServer/src/test/java/com/teambind/supportserver/report/controller/ReportControllerTest.java
Labels: layer:test

[FEAT] 신고 통계 및 제재 관리용 서비스 인터페이스 추가
  SupportServer/src/main/java/com/teambind/supportserver/report/service/ReportStatisticsService.java
  SupportServer/src/main/java/com/teambind/supportserver/report/service/SanctionService.java
Labels: backend, layer:service

[FEAT] FAQ 엔티티 및 카테고리 Enum 구현
  SupportServer/src/main/java/com/teambind/supportserver/faq/entity/Faq.java
  SupportServer/src/main/java/com/teambind/supportserver/faq/entity/enums/FaqCategory.java
Labels: backend, layer:entity

[FEAT] FaqRepository 인터페이스 구현
  SupportServer/src/main/java/com/teambind/supportserver/faq/repository/FaqRepository.java
Labels: backend, layer:repository

[FEAT] FaqService 구현 (캐싱 및 스케줄링)
  SupportServer/src/main/java/com/teambind/supportserver/faq/service/FaqService.java
Labels: backend, layer:service

[FEAT] FaqController REST API 구현
  SupportServer/src/main/java/com/teambind/supportserver/faq/controller/FaqController.java
Labels: backend, layer:controller

[TEST] FAQ 기능 단위 테스트 추가
  SupportServer/src/test/java/com/teambind/supportserver/faq/controller/FaqControllerTest.java
  SupportServer/src/test/java/com/teambind/supportserver/faq/service/FaqServiceTest.java
Labels: layer:test

[FEAT] 스케줄링 기능 활성화
  SupportServer/src/main/java/com/teambind/supportserver/SupportServerApplication.java
Labels: backend

[FEAT] FAQ 엔티티에 title 필드 추가 refs #37
  SupportServer/src/main/java/com/teambind/supportserver/faq/entity/Faq.java
  SupportServer/src/test/java/com/teambind/supportserver/faq/controller/FaqControllerTest.java
  SupportServer/src/test/java/com/teambind/supportserver/faq/service/FaqServiceTest.java
Labels: backend, layer:entity, layer:test

feat(faq): FAQ 조회 시스템 구현 (캐싱 및 스케줄링) refs #20 #21 #22 #37
  SupportServer/src/main/java/com/teambind/supportserver/SupportServerApplication.java
  SupportServer/src/main/java/com/teambind/supportserver/faq/controller/FaqController.java
  SupportServer/src/main/java/com/teambind/supportserver/faq/entity/Faq.java
  SupportServer/src/main/java/com/teambind/supportserver/faq/entity/enums/FaqCategory.java
  SupportServer/src/main/java/com/teambind/supportserver/faq/repository/FaqRepository.java
  SupportServer/src/main/java/com/teambind/supportserver/faq/service/FaqService.java
  SupportServer/src/test/java/com/teambind/supportserver/faq/controller/FaqControllerTest.java
  SupportServer/src/test/java/com/teambind/supportserver/faq/service/FaqServiceTest.java
Labels: backend, layer:entity, layer:controller, layer:repository, layer:service, layer:test

[DOC] FAQService 스케일 아웃 환경 고려사항 문서 스타일 개선
  SupportServer/src/main/java/com/teambind/supportserver/faq/service/FaqService.java
Labels: backend, layer:service

[DOC] FAQService 스케일 아웃 환경 고려사항 문서 스타일 개선
  docs/README.md
Labels: docs
